.bgcolor{
  color: #2582da;
}
.bgorange{
  background-color: #e2641d;
}
.bgbleu{
  background-color: #277ac7;
}
.noir{
  background-color: #1f1812;
}
.textblanc{
 color: #ffffff;
}

.textbold{
  font-weight: bold;

}